
<h1>DarkSpeed Admin Console</h1>
<p>Main server status: <%= Darksocks::Server.running? :main %>
<button>Start the main server</button>
<button>Stop the main server</button>
</p>
<p>Gateway status: <%= <%= Darksocks::Server.running? :gateway %>
<button>Start the gateway server</button>
<button>Stop the gateway server</button>
</p>
